
<div >
    <table class="table table-bordered" >
     <thead>
         <tr >
             <th>City</th>
             <th>Date</th>
             <th>temp</th>
             
         </tr>
     </thead>
     <tbody *ngFor="let cities of weather_Result">
            <tr *ngFor="let forecast of cities">
                <td>{{forecast.location.name}}</td>
                <td>{{forecast.forecast.date}}</td>               
               <!-- <div *ngFor="let forecastday of forecast.forecast.forecastday; let i=index">
                 <td>{{forecastday.temp_c}}</td>
               </div> -->
               <td>{{forecast.forecast.forecastday[2].temp_c}}</td>
            </tr>
     </tbody>
    </table>
  </div>

