
<div class="tableFixHead">
<app-shared
  (newFromEvent)="addSharedFormData($event)"
  (newChangeCityEvent)="addSharedChangeCity($event)"
  [date]="dateArr"
>
</app-shared>





  <table class="table table-bordered">
    <thead>
      <tr>
        <th (click)="clickSort('city')">
          <span>City</span>
          <!-- if conditions are true then hide the content  using [hidden] property, if both span tag is false then show the all content  -->
          <span 
            class="sortOrder descending" 
            [hidden]="sortType === 'city' && reverse===true "  
          ></span>
          <span 
            class="sortOrder" 
            [hidden]="sortType === 'city' && reverse===false "
          ></span>
        </th>
        <th (click)="clickSort('date')">
          <span>Date</span>
          <span 
          class="sortOrder descending" 
          [hidden]="sortType === 'date' && reverse===true "
        ></span>
        <span 
          class="sortOrder" 
          [hidden]="sortType === 'date' && reverse===false "
        ></span>
        </th>
        <th (click)="clickSort('temp_c')">
          <span>temp (in c)</span>
          <span 
          class="sortOrder descending" 
          [hidden]="sortType === 'temp_c' && reverse===true "
        ></span>
        <span 
          class="sortOrder" 
          [hidden]="sortType === 'temp_c' && reverse===false "
        ></span>
        </th>
        <th (click)="clickSort('wind_kph')">
          <span>wind (kph)</span>
          <span 
          class="sortOrder descending" 
          [hidden]="sortType === 'wind_kph' && reverse===true "
        ></span>
        <span 
        class="sortOrder" 
        [hidden]="sortType === 'wind_kph' && reverse===false "
      ></span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let forecastday of response"
      >
        <td>{{ forecastday.city }}</td>
        <td>{{forecastday.date}} {{forecastday.time}}</td>    
        <td>{{ forecastday.temp_c }}</td>
        <td>{{ forecastday.wind_kph }}</td>
      </tr>
    </tbody>
  </table>
</div>
