.weather-lists{
    display: flex;
    gap: 20px;
};

.graph{
    display: flex;
    justify-content: space-between;
    margin: 20px;
};

.calender{
    display: flex;
    gap: 10px;
}
.calender div{
    display: flex;
    flex-direction: column;
}