<div class="weather-menu">
    <ul class="weather-lists">
        <li *ngFor="let menu of weather_menu">
            <i class=""></i>
            <span>
                <a [routerLink]="menu.path">{{menu.title}}</a>
            </span>
        </li>        
        <!-- <button (click)="onGraph()">graph</button> -->
        
    </ul>
</div>



<!-- <div class="graph"> -->
  
    
  <!-- <form class="graph" [formGroup]="calenderForm" (ngSubmit)="onSubmit()">
    <div>
        <select (change)="changedCity($event)" formControlName="city">
          <option value="">Select City</option>
          <option [value]="city" *ngFor="let city of citiesName" >{{city}}</option>
        </select>
      </div>
  <div class="calender">
    <div>
        <label>From</label>
        <input type="date" formControlName="from_Date">
      </div>
      <div>
        <label>To</label>
        <input type="date" formControlName="to_Date">
      </div>
      <button>Submit</button>
  </div>
  </form> -->
  
  <!-- </div> -->


  <router-outlet></router-outlet>