<p>home works!</p>
<div class="home">
  <button type="button" class="btn btn-primary" (click)="onCustomPipe()">
    Custom pipe
  </button>
  <br /><br />
  <button type="button" class="btn btn-primary" (click)="onDynamicForm()">
    Dynamic Form
  </button>
  <br /><br />

  <button type="button" class="btn btn-primary" (click)="onPaginations()">
    Pagination
  </button>
  <br /><br />

  <!-- <button type="button" class="btn btn-primary">
    <a style="color: aliceblue" [routerLink]="['paginationPath']">Pagination</a>
  </button>
  <br /><br /> -->

  <button type="button" class="btn btn-primary" (click)="onTest()">
    test
  </button>
  <br /><br />

  <button type="button" class="btn btn-primary" (click)="onLogics()">
    logics
  </button>
  <br /><br />

  <button type="button" class="btn btn-primary" (click)="onCheckbox()">
    checkbox
  </button>
  <br /><br />

  <button type="button" class="btn btn-primary" (click)="onLoginCustom()">
    Login-Custom
  </button>
  <br /><br />

  <button type="button" class="btn btn-danger" (click)="onMatrixMultiple()">
    Matrix Multiplication
  </button>
  <br /><br />
</div>
