<p>async-pipe works!</p>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzas$ | async ">
            <td>{{pizza.id}}</td>
            <td>{{pizza.name}}</td>
            <td>{{pizza.price}}</td>
        </tr>
    </tbody>
</table>


<!-- This would allow us to reuse the variable multiple times inside the template without creating repeat subscriptions: -->

<div *ngIf="(pizzas$ | async) as pizzas;else loading" class="mb-3 bg-success">
    <div *ngIf="pizzas.length >= 0">
        <p class="text-white">🍕 {{ pizzas.length }} Pizzas!</p>
    <table class="table">
        <thead>
            <tr scope="col">
                <th>id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let pizza of pizzas ">
                <td>{{pizza.id}}</td>
                <td>{{pizza.name}}</td>
                <td>{{pizza.price}}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div *ngIf="pizzas.length === 0">
        Data not found
    </div>
</div>
<ng-template #loading>
    loading...
</ng-template>


<h2>Using Custom pipe</h2>
<div *ngIf="(pizzas$ | withLoading | async) as pizzas">
    <!-- <ng-template [ngIf]="pizzas">

    </ng-template> -->
    {{pizzas}}
</div>
