<p>setting works!</p>

<app-re-usable [data]="setting1" [showCount]="true" (calCount)="countEventHandler($event)"></app-re-usable>
<app-re-usable [data]="setting2" [showCount]="false" (calCount)="countEventHandler($event)"></app-re-usable>
<app-re-usable [data]="setting2" [showCount]="false" (calCount)="countEventHandler($event)"></app-re-usable>

<div class="row">
    <div class="col-sm-9 count-text">
      Total Data Count ::
    </div>
    <div class="col-sm-3 count-text">
      <span>
        {{totalCount}}
      </span>
    </div>
  </div>