<div class="container">
  <form class="form-signin" [formGroup]="signup" (ngSubmit)="onSubmit()">
    <h2 class="form-signin-heading">Create Acount</h2>

    <div class="form-menu">
      <div class="name">
        <label for="inputEmail" class="sr-only">Name</label>
        <input
          type="text"
          id="inputName"
          class="form-control"
          placeholder="Name"
          formControlName="name"
          required
        />

        <div
          *ngIf="
            signup.controls.name?.invalid &&
            (signup.controls.name?.dirty || signup.controls.name?.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="signup.controls.name.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="signup.controls.name.errors?.['minlength']">
            minimum char length must be 3.
          </div>
          <div *ngIf="signup.controls.name.errors?.['maxlength']">
            maximum char length should be less than 50
          </div>
          <div *ngIf="signup.controls.name.errors?.['forbiddenValidator']">
            name.errors?.forbiddenName.value
          </div>
        </div>
      </div>

      <div class="age">
        <label for="inputAge" class="sr-only">Age</label>
        <input
          type="number"
          id="inputAge"
          class="form-control"
          placeholder="age"
          formControlName="age"
          required
        />

        <div
          *ngIf="
            signup.controls.age?.invalid &&
            (signup.controls.age?.dirty || signup.controls.age?.touched)
          "
          class="alert alert-danger"
        >
          <small *ngIf="signup.controls.age.errors?.['required']">
            Age is required.
          </small>
          <small *ngIf="signup.controls.age.errors?.['min']">
            Age must be 18years.
          </small>
          <small *ngIf="signup.controls.age.errors?.['max']">
            Age should be less than or equal to 60
          </small>
        </div>
      </div>

      <div class="contact">
        <label for="inputContact" class="sr-only">Contact</label>
        <input
          type="text"
          id="inputContact"
          class="form-control"
          placeholder="Contact"
          formControlName="contact"
          required
        />

        <div
          *ngIf="
            signup.controls.contact?.invalid &&
            (signup.controls.contact?.dirty || signup.controls.contact?.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="signup.controls.contact.errors?.['required']">
            Contact is required.
          </div>
          <div
            *ngIf=" signup.controls.contact.errors?.['minlength'] || signup.controls.contact.errors?.['maxlength']"
          >
            Phone number must be 10 Digits.
          </div>
        </div>
      </div>

      <div class="email">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          formControlName="email"
          required
        />

        <div
          *ngIf="
            signup.controls.email?.invalid &&
            (signup.controls.email?.dirty || signup.controls.email?.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="signup.controls.email.errors?.['required']">
            email is required.
          </div>
          <div *ngIf="signup.controls.email.errors?.['email']">
            email must be valid.
          </div>
        </div>
      </div>

    
        <button class="btn btn-primary" (click)="addAddress()" type="button">Add Address</button>
        <div
            formArrayName="address"
            *ngFor="let item of signup.get('address').controls; let i = index"
          >
            <div formGroupName="i">
         
                <div class="street">
                  <label for="street" >Street: </label>
                <input
                  type="text"
                  id="street"
                  
                  placeholder="Street"
                  formControlName="street"
                  required
                />
                </div>
             
  
                <div class="city">
                  <label for="city">City: </label>
                <input
                  type="text"
                  id="city"
                  
                  placeholder="City"
                  formControlName="city"
                  required
                />
                </div>
              
            </div>
            <button type="button" class="btn btn-danger" (click)="removeAddress(i)">remove</button>
          </div>
   
    
        
        

      <div class="image">
        <label for="photo" class="sr-only">Photo: </label>
        <input
          type="file"
          id="photo"
          class="form-control"
          placeholder="Photo"
          formControlName="photo"
          required
        />
      </div>

      <div class="mb-3">
        <label for="">Gender</label>
        <div class="form-check">
          <input type="radio" class="form-check-input" name="gender" value="male" formControlName="gender"/>
          <label class="form-check-label">male</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" name="gender" value="female" formControlName="gender"/>
          <label class="form-check-label">female</label>
        </div>

        <div *ngIf="f.gender.touched && f.gender.invalid" class="alert alert-danger">
          <div *ngIf="f.gender.errors.required">gender is required.</div>
      </div>
      </div>

      <div class="hobbies"></div>

      <div class="password">
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          formControlName="password"
          required
        />

        <div
          *ngIf="
            signup.controls.password?.invalid &&
            (signup.controls.password?.dirty ||
              signup.controls.password?.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="signup.controls.password.errors?.['required']">
            password is required.
          </div>
          <div *ngIf="signup.controls.password.errors?.['minlength']">
            Password must be 6 char
          </div>
        </div>
      </div>

      <div class="password">
        <label for="conformPassword" class="sr-only">Conform Password</label>
        <input
          type="password"
          id="conformPassword"
          class="form-control"
          placeholder="Conform Password"
          formControlName="conformPassword"
          required
        />

        <div
          *ngIf="
            signup.controls.password?.invalid &&
            (signup.controls.password?.dirty ||
              signup.controls.password?.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="signup.controls.password.errors?.['required']">
            password is required.
          </div>
          <div *ngIf="signup.controls.password.errors?.['minlength']">
            Password must be 6 char
          </div>
        </div>
      </div>

      <div class="checkout mb-3">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">agreed all terms and conditions</label>
      </div>
    </div>

    <div class="registration-btn">
      <button
        class="btn btn-lg btn-primary btn-block"
        type="button"
        (click)="onSubmit()"
      >
        signup
      </button>
    </div>
  </form>
</div>

{{ signup.value | json }}