<div class="container">
  <h2>Matrix Multiplication:</h2>
  <form class="form" [formGroup]="matrixForm"  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>
        <label for="rows1">Rows-1:</label>
        <input type="number" id="rows1" formControlName="matrix_1_rows" />
      </div>
      <div>
        <label for="column1">Columns-1:</label>
        <input type="number" id="column1" formControlName="matrix_1_columns" />
      </div>
      <div>
        <label for="rows2">Rows-2:</label>
        <input type="number" id="rows2" formControlName="matrix_2_rows" />
      </div>
      <div>
        <label for="column2">Columns-2:</label>
        <input type="number" id="column2" formControlName="matrix_2_columns" />
      </div>
    </div>
   <div class="button">
    <button type="button" class="btn btn-secondary" (click)="createMatrices()">Create Matices</button>
   </div>
   <table>
    <thead>
      <tr>
        <!-- <td>Matrix-1</td>
        <td>Matrix-2</td> -->
      </tr>
    </thead>
    <!-- <tbody>
      <tr >
        <td formArrayName="matrix_1" *ngFor="let matrix_1 of matrix_1.controls; let i = index">
          <input type="number" [formControlName]="i">
        </td>

        <td formArrayName="matrix_2" >
          <span  *ngFor="let matrix_2 of matrix_2.controls; let i = index"><input type="number" [formControlName]="i"><br></span>
        </td>
      </tr>
    </tbody> -->
   </table>
  
   <!-- <div formArrayName="matrix_1">
    <label for="">Matrix-1:</label>
        <div *ngFor="let matrix_1 of matrix_1.controls; let i = index">
         
            <input type="number" [formControlName]="i">
        </div>
   </div>

   <div formArrayName="matrix_2">
    <label for="">Matrix-2:</label>
    <div *ngFor="let matrix_2 of matrix_2.controls; let i = index">
        <input type="number" [formControlName]="i">
    </div>
</div> -->

<div class="button">
  <button type="submit" class="btn btn-secondary">Submit</button>
 </div>
  </form>
</div>
