.container{
    padding: 50px;
}
.form-group{
    display: flex;
    margin-bottom: 10px;
};
.form-group input{
    width: auto;
    border-radius: 10px;
}

.button{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
};

tbody input{
   width: 30px;
}